:root {
  --primary-color: #0000a3;
  --secondary-color: #f0f0f0;
  --line-color: #e8ebec;
  --button-hover: #3e8e41;
}

.card-border {
  border: none;
}

.button:hover {
  background-color: var(--button-hover);
}
