body {
  background-color: ;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 193, 7, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.color-primary {
  color: #ffc107;
}

.container-main {
  margin: 70px auto 30px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eceded;
  border-radius: 10px;
}

.container1 {
  margin-top: 100px;
  margin-bottom: 30px
  display: block;
  text-align: center;
}

.margin-break {
    margin-bottom: 50px;
}